/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #2196f3;
    --second-color: #1787e0;
    --main-background: #f4f4f4;
    --section-background: #d8d8d8;
    --box-color: rgb(177, 255, 132);
    --orange-color: #ffa63f;
    --green-color: #1aaf00;
    --text-color: #4a4747;
    --border-color: #e9e6e6;
    --main-transition: 0.5s;
    --padding-t-b: 3rem;
    --color-for-p: #777;
    --main-line-height: 1.8;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
    background-color: var(--main-background);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.container {
    margin: 0 auto;
    padding: 0 15px;
}

/* Small */
@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End Global Rules */

/* Start Header */
header {
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header h1 {
    color: var(--main-color);
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

header .main-link {
    display: flex;
}

@media (max-width: 767px) {
    header .main-link {
        margin: auto;
    }
}

header .main-link li:hover .mega-menu {
    opacity: 1;
    z-index: 99;
    top: calc(100% + 1px);
}

header .main-link>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    height: 50px;
    padding: 0 15px;
    overflow: hidden;
    font-size: 1rem;
    font-weight: bold;
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    header .main-link>li>a {
        font-size: 14px;
        height: 40px;
        padding: 0 10px 10px;
    }
}

header .main-link>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

header .main-link>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

header .main-link>li>a:hover::before {
    left: 0;
}

header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    gap: 30px;
    background-color: white;
    z-index: -1;
    opacity: 0;
    top: calc(100% + 50px);
    padding: 30px;
    border-bottom: 4px solid var(--main-color);
    border-radius: 6px;
    transition: top calc(var(--main-transition) + 0.2s), opacity var(--main-transition);
}

@media (max-width: 767px) {
    header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 10px;
    }

    header .links:first-of-type li:last-of-type {
        border-bottom: 1px solid var(--border-color);
    }
}



header .links {
    min-width: 10em;
    flex: 1;
}

header .links li {
    position: relative;
}

header .links li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: -1;
    transition: var(--main-transition);
}

header .links li:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

header .links li:hover::before {
    width: 100%;
}

header .links li a {
    display: block;
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--main-color);
    padding: 0.7rem;
}

@media (min-width: 992px) {
    header .small {
        display: none;
    }
}

@media (max-width: 991px) {
    header .big {
        display: none;
    }


}



/* End Header */

.main .add-to-car {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.main .add-to-car a,
.main .add-to-car button {
    padding: 7px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
}

.main .add-to-car :first-child {
    background-color: var(--green-color);
    color: white;
    border: none;
}

.main .add-to-car :last-child {
    background-color: var(--main-color);
    color: white;
}

.main .add-to-car :first-child:hover {
    background-color: green;
}

.main .add-to-car :last-child:hover {
    background-color: var(--second-color);
}









h2 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.box {
    position: relative;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px silver;
    width: 50%;
    margin-top: 10px;
    padding: 15px;
    background-color: var(--main-background);
    transform: translateX(-50%);

}

@media (max-width: 767px) {
    .box {
        width: 100%;
    }


}

img {
    width: 300px;
    margin: 10px;
}


.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.form label {
    color: rgb(0, 171, 228);
}


.form input {
    display: block;
    width: 350px;
    border: none;
    font-size: 0.9rem;
    margin: 0.7rem 0;
    padding: 0.6rem;
    border-bottom: 1px solid #bbbaba;
    border-radius: 6px;
    background-color: #e2e2e2;
    caret-color: var(--main-color);
    outline: none;
    transition: var(--main-transition);
}

.form input:hover::placeholder,
.form textarea:hover::placeholder {
    opacity: 0;
    transition: var(--main-transition);
}

.form input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.5rem;
    cursor: pointer;
    transition: var(--main-transition);
}

.form input[type="submit"]:hover {
    background-color: var(--second-color);
}

.form .select {
    background-color: #e2e2e2;
    border: 1px solid #bbbaba;
    outline: none;
    border-radius: 6px;
    width: 100px;
    padding: 0px 10px;
}


.add {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 20px 0px 25px 6px;
}

.add label,
.add button {
    position: relative;
    border-radius: 6px;
    padding: 7px 12px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.add label {
    background-color: var(--main-color);
}

.add button {
    background-color: var(--green-color);
    outline: none;
    border: none;
}


/* start cart*/
h3 {
    color: var(--main-color);
    font-size: 30px;
    position: relative;
    margin-top: 20px;
    left: 40%;
}

.cart-table {
    max-width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 991px) {
    .cart-table {
        max-width: 100%;
        right: 50%; 
    }
    h2 {
       font-size: 25px;
       padding: 15px 0px;

    }
    h3 {
        left: 0;
        text-align: center;
    }


}


@media (max-width: 767px) {
   
    h2 {
      display: none;
      width: 100%;


}
}


.cart-table table {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    box-shadow: 6px 6px 10px silver;
    margin-top: 15px;
}




.cart-table table tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
    left: 0;
    padding: 15px 0 ;
    
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.cart-table .thead {
    background-color: var(--main-color);
    color: white;
}

.cart-table table thead,
.cart-table table tbody {
    text-align: center;
}

.cart-table table tr {
    background-color: var(--section-background);
    color: black;
}

.cart-table tbody a {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 1px 10px;
    border-radius: 6px;
}

/* end cart*/
